body{
  background: #333;
}

.box{
  width: 100px;
  height: 100px;
  background:#fff;
  position: relative;
  animation: myan 4s 0.5s forwards infinite  alternate-reverse;
}

@keyframes myan{
  0%{
    background: #fff; left: 0px; top:0px;
              border-radius: 0 0 0 0 ;

  }

  25%{
    background: red; left: 0px; top:600px;
                 border-radius: 0px 50px 0px 0 ;
  }
  50%{
   background-color: green; left: 600px; top:600px;
                    border-radius: 50px 0px 0px 50px ;
  }
  75%{
  background-color: blue; left: 600px; top:0px;
                    border-radius: 50px 0 50px  50px  ;
  }
  100%{
   background-color: #fff; left: 0px; top:0px;
                      border-radius: 50px ;
  }
}