body{
  margin: 0;
  position: relative;
}
body.pop-up{background:#222 ;
 
}

*{
  font-family: sans-serif;
  color: #333;
  font-weight: normal;
}


h1{
  font-size: 48px;
  margin: 10px 0;

}

p{
  margin-bottom: 40px;
}

#pop-up{
  position: relative;
  top: 200x;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  
}

#pop-up .container{
  background: #f0e4d4;
  padding: 30px;
  position: absolute;
  width: 100%;
  top: 50px;
  box-sizing: border-box;
}

#pop-up input{
  
  padding: 10px;
  border: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;


}

button{
  padding: 11px;
  border: 0;
  background: #333;
  color: #fff;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 2 solid #333 ;
  font-size: 18px; 

}

.cross{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  cursor: pointer;

}

#pop-up{
  top: -400px;
  transform-origin:10px 10px  ;
  animation: drop 0.5s ease forwards ,
   swing 1.2s 0.5s ease-in-out forwards ;
}


@keyframes drop{
  0%{opacity: 0;

  }

  70%{
  transform: translateY(700px)
  ;
  }

  100%{
    transform: translateY(600px) ;
    opacity: 1;

  }
}

@keyframes swing{
  0%{
    transform: translateY(600px) rotateZ(0deg); 
  }
  
  50%{
    transform: translateY(600px) rotateZ(120deg); 
  }
  100%{
    transform: translateY(600px) rotateZ(0deg); 
  }
}