body{
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper li{
  list-style: none;
}

.wrapper{
  width: 100%;
  text-align: center;
  font-size: 48px;
}

.panels li{
  position: relative;
  width: 25%;
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left;
}

.panels li::after{
  display: block;
  content: "";
  clear: both;
}

.panels li div{
  width: 100%;
  padding: 50% 0;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.panels div.back{
  transform: rotateY(90deg);
}

.panels div.front{
  position: absolute;
}

.panels li:hover div.front{
animation: twirl 200ms ease-in forwards ;
}

.panels li:hover div.back{
  animation: twirl 200ms 200ms ease-out forwards reverse;/*we can use reverse other than creating another keyframe*/
  }


@keyframes twirl{
  0%{
    transform: rotateY(0deg);
  }

  100%{
    transform:rotateY(90deg) ;
  }
}
/*
@keyframes drop{
  0%{
    transform: rotateY(90deg);
  }

  100%{
    transform: rotateY(0deg);
  }
}